<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist>
  <dict>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
    <key>CFBundleIconFile</key>
    <string></string>
    <key>CFBundleIdentifier</key>
    <string>io.github.BaraMGB.capusyn.headless</string>
    <key>CFBundleName</key>
    <string>Capusyn</string>
    <key>CFBundleDisplayName</key>
    <string>Capusyn</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>CFBundleShortVersionString</key>
    <string>99999.9.9</string>
    <key>CFBundleVersion</key>
    <string>99999.9.9</string>
    <key>NSHumanReadableCopyright</key>
    <string>Capusyn Project</string>
    <key>NSHighResolutionCapable</key>
    <true/>
  </dict>
</plist>
