[Desktop Entry]
Name=Capusyn
Comment=A free wavetable synth with a lot of modulation
Comment[fr]=Un synthétiseur polyphonique libre avec un tas de module
GenericName=Synth
GenericName[fr]=Synthétiseur
Exec=capusyn
Icon=capusyn
Terminal=false
Type=Application
Categories=Audio;AudioVideo;
MimeType=application/x-capusyn;
